:root {
    --padding-small: 8px;
    --padding-medium: 12px;
    --padding-large: 16px;
    --primary-color: #3f3cfe;
    --primary-color-dark: #312fae;
    --secondary-color: #c7c7d2;
    --secondary-color-dark: #75757d;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --border-radius: 4px;
    /* Add more global design tokens here */
}